# Python / Backend
__pycache__/
backend/.venv/
backend/.env
*.pyc

# Node.js / Frontend
node_modules/
dist/          # La carpeta que crea Vite al compilar
.DS_Store      # Basura de macOS (opcional)
.vscode/       # Configuración personal de tu editor (opcional)

# Variables de entorno
backend/.env.local
backend/.env.development.local

#QUitar data
backend/uploads/
backend/model/
backend/payload_vuelta_1.json
backend/toon_dossier.txt
backend/toon_s2_prompt.txt
backend/toon_dossier.json
backend/temp_execution_script.py

